body {
  max-width: 320px;
  margin: auto;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
}


header {
  position: sticky;
  top: 0;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil-element {
  width: 40px;
  height: 40px;
}

.legende {
  font-size: 10px;
}

footer {
  background: #2F2F47;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
}