body {
  max-width: 375px;
  margin: auto;
  font-size: 14px;
  color: aliceblue;
  font-family: sans-serif;
  background: linear-gradient(#1b2020, #0E0E11, #1b2020, #0E0E11);
}

img {
  display: block;
  max-width: 100%;
}

header {
  position: sticky;
  top: 0;
}

.date {
  text-align: center;
  font-size: 10px;
  background: #1b2020;
}

/*comment faire pour que le background soit collé au texte*/

.profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1F2E2F;
  border-bottom-left-radius: 50px;
  padding: 5px;
}

.profil-element {
  width: 40px;
  height: 40px;
}

.legende {
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.message-box {
  width: 250px;
}

.message-content, .message-time {
  margin: 0 20px 0 20px;
}

.message-box-me {
  align-self: flex-end;
}

.message-box-jo, .message-box-me {
  margin-bottom: 10px;
}

.message-box-jo .legende {
  color: #E06978;
}

.message-box-me .legende {
  color: #91b9bb;
}

footer {
  background: #1F2E2F;
  border-top-left-radius: 50px;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

.text-conversation {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  margin-right: 10px;
  border-radius: 20px;
  padding: 10px;
}

button {
  border: none;
  border-radius: 20px;
  background: #cce3ed;
  padding: 10px;
}

button:hover {
  background: #E06978;
}