body {
  max-width: 375px;
  margin: auto;
  font-size: 14px;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(#333c3c, #0E0E11, #383f3f, #0E0E11);
  background: url(../img/glitch-background.jpg);
}

img {
  display: block;
  max-width: 100%;
}

header {
  position: sticky;
  top: 0;
  font-family: 'Kanit', sans-serif;
}

header p {
  color: #a8cddd;
}

header .legende {
  margin-left: 50px;
}

.date {
  text-align: center;
  font-size: 10px;
  color: #cce3ed;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1F2E2F;
  border-bottom-left-radius: 50px;
  padding: 5px;
}

.profil-element {
  margin-left: 6px;
}

header img {
  width: 40px;
  height: 40px;
}

.go-back, header h1, button, .gif {
  cursor: pointer;
}

.legende {
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.message-box {
  width: 250px;
}

.message-content, .message-time {
  margin: 0 20px 0 20px;
}

.message-box-me {
  align-self: flex-end;
}

.message-box-jo, .message-box-me {
  margin-bottom: 10px;
}

.message-box-jo .legende {
  color: #E06978;
}

.message-box-me .legende {
  color: #91b9bb;
}

.gif {
  max-width: 45%;
}

footer {
  background: #1F2E2F;
  border-top-left-radius: 50px;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

.text-conversation {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  margin-right: 10px;
  border-radius: 20px;
  padding: 10px;
}

button {
  border: none;
  border-radius: 20px;
  background: #cce3ed;
  padding: 10px;
}

button:hover {
  background: #E06978;
}